<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720801403374-86dhsli33k28ndmu5l2bij5tcv8k619e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720801403374-86dhsli33k28ndmu5l2bij5tcv8k619e</string>
	<key>API_KEY</key>
	<string>AIzaSyC9dPe4WTtyC3sn1HisDOn5QkRoDDrvzt8</string>
	<key>GCM_SENDER_ID</key>
	<string>720801403374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antk.SwiftTwitter</string>
	<key>PROJECT_ID</key>
	<string>swifttwitter-e0299</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttwitter-e0299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720801403374:ios:1b3c84babd00d3ba60feff</string>
</dict>
</plist>